@import '../constants.css';

.control-button{
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    user-select: none;
}

.control-button:hover{
    cursor: pointer;
}

.control-panel{
    background-color: var(--control-panel-bg-color);
    padding: 30px;
    border-radius: 8px;
}