@import '../constants.css';

.tile{
    width: var(--tile-size);
    height: var(--tile-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center
}

.highlight{
    width: var(--highlighted-tile-size);
    height: var(--highlighted-tile-size);
    border: var(--highlighted-tile-border-width) solid var(--highlighted-possible-moves-tile-color-white);
}

.highlight-possible-moves-black{
    background-color: var(--highlighted-possible-moves-tile-color-white) !important;
}

.highlight-possible-moves-white{
    background-color: var(--highlighted-possible-moves-tile-color-white) !important;
}

.check{
    background-color: var(--check-color) !important;
}

.piece{
    user-select: none;
    width: var(--piece-size);
    height: var(--piece-size);
}