:root {
    --tile-size : 80px;
    --bg-color : #ffe9c2;
    --control-panel-bg-color: #ffd793;
    --highlighted-tile-border-width: 3px;
    --highlighted-tile-size: calc(var(--tile-size) - 2 * var(--highlighted-tile-border-width));
    --highlight: #e3cba8;
    --check-color: red;
    --piece-size: 70px;
    --coords-color: #654109
}