@import './constants.css';

html, body{
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

.vertical-container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}